
@model ThirtyDay.Models.Person
@{ 
    ViewBag.Title = "Index";
    var likesMusic = Model.LikesMusic ? "active" : null;
    var notAMusicFan = !Model.LikesMusic ? "active" : null; 
}

<div class="page-header">
    <h1>Welcome to the Person Page <small>Read all about @Model.FirstName</small></h1>
</div>

@Html.DisplayForModel(Model)